extends ../common
block header
  h1.col User profile
  div.col
    h3 Avatar
    a.btn.btn-secondary(href='/profile') Back to profile update
    
block content
  div.d-flex.justify-content-between
    img.mb-3(src='https://cdn.glitch.com/7cdf3068-56d2-4682-b13f-5608dbf6420e%2Fbtc.png?v=1600874818880' width=48 height=48)
  form(action='' method='post' enctype='multipart/form-data')
    input(type='text' name='id' value=user.id hidden)
    label Avatar upload
      input(type="file" id="myFile" name="avatar")
    button.mt-3.btn.btn-primary(type='submit') Update your avatar