extends ../layout

block header
  h1.col Transactions
  div.col
    h3 Transactions list
    a.btn.btn-secondary(href='/') Back to Homepage

block control
  if isAdmin
    a.mb-3.btn.btn-primary(href='/trans/create') Create a transaction
  else
    button.mb-3.btn.btn-light(disabled) Create a transaction

block content
  table.table.table-lg.col.table-striped
    tr
      th ID
      th Book title
      th User
      th Status

    each tran in trans
      tr
        td= tran.id
        td= tran.title
        td= tran.username
        td= tran.isComplete?'completed':'[ open ]'
        td
          if isAdmin
            if !tran.isComplete
              a.btn.btn-sm.btn-warning(href='/trans/'+tran.id+'/complete') Close
            else
              button.btn.btn-sm.btn-light(disabled) closed