doctype html
html
  head
    title Book management
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")
  body.container.d-flex.justify-content-center
    div.text-center
      div.d-flex.container-md
        a(href='/')
          img.mr-3(src='https://cdn.glitch.com/7cdf3068-56d2-4682-b13f-5608dbf6420e%2Fbtc.png?v=1600874818880' width=64 height=64)
        div.d-block
          block header
      hr
      div.d-flex.justify-content-center
        div
          block content
      hr

      block foot
        #footer
          p login account for testing purpose:
          p email: tester@test.dev, password: 123123
          p please contact me for an admin role test account
          hr
          p Copyright &copy; 2020