extends layout

block header
  h1.col.title The Book Man
  div.col
    h3 Welcome to the platform

block control
  div.container-sm
    div.mb-3
      a.col.btn.btn-lg.btn-success(href="/books") Book management
    div.mb-3
      a.col.btn.btn-lg.btn-success(href="/users") User management
    div.mb-3
      a.col.btn.btn-lg.btn-success(href="/profile") User profile setting
    div.mb-3
      a.col.btn.btn-lg.btn-primary(href="/trans") All transactions