extends common
  
block content
  form(action='/api/login' method='post')
    label Email:
      input(type='email' name='email' value= values? values.email: '')
    label Password: 
      input(type='password' name='password' value= values? values.password: '')
    button.mt-3.btn.btn-primary(type='submit') POST /api/login
  form(action='/api/transactions' method='get')
    label user ID: 
      input(type='text' name='userId')
    button.mt-3.btn.btn-primary(type='submit') GET /api/transactions